* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "h h"
    "n n"
    "a as"
    "f f";
  gap: 10px;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

nav ul {
  list-style: none;
  padding-left: 10px;
}

nav li {
  display: inline;
  padding-right: 25px;
}

article {
  grid-area: a;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

article div {
  background-color: white;
}

article div h1 {
  margin: 0;
  padding: 5px;
}

article div img {
  width: 100%;
  padding: 5px;
}

article div p {
  margin: 0;
}

article button {
  margin: 10px;
  padding: 5px;
}

aside {
  grid-area: as;
  background-color: white;
}

aside h3 {
  margin: 10px;
}

aside ul {
  list-style: none;
  padding-left: 0;
  margin: 10px;
}

aside ul li {
  clear: both;
}

aside ul li span:first-child {
  float: left;
}

aside ul li span:last-child {
  float: right;
}

.vonal {
  clear: both;
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid black;
}

.kosarba span:first-child {
  float: left;
}

.kosarba span:last-child {
  float: right;
  margin: 10px;
  padding: 5px;
  border: 1px solid hsl(0, 0%, 75%);
  text-align: right;
}

footer {
  grid-area: f;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  article {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "n"
      "as"
      "a"
      "f";
  }

  article {
    padding: 0px 10px 0px 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  aside {
    margin: 0px 10px 0px 10px;
  }
}

@media only screen and (max-width: 400px) {
  nav li {
    display: grid;
    grid-template-columns: 1fr;
  }

  article {
    grid-template-columns: 1fr;
  }
}
